<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.vegayan.controllers.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.vegayan.controllers.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDiscovery</servlet-name>
        <servlet-class>com.admin.controllers.AdminDiscovery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfigSSHServlet</servlet-name>
        <servlet-class>com.admin.controllers.ConfigSSHServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlreadyLoggedSession</servlet-name>
        <servlet-class>com.vegayan.controllers.AlreadyLoggedSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserFilters</servlet-name>
        <servlet-class>com.user.controllers.UserFilters</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserInventory</servlet-name>
        <servlet-class>com.user.controllers.UserInventory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PerformanceReport</servlet-name>
        <servlet-class>com.user.controllers.PerformanceReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Summarydashboard</servlet-name>
        <servlet-class>com.user.controllers.Summarydashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportPlots</servlet-name>
        <servlet-class>com.user.controllers.ReportPlots</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Faults</servlet-name>
        <servlet-class>com.user.controllers.Faults</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NodeDashboard</servlet-name>
        <servlet-class>com.user.controllers.NodeDashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeviceReport</servlet-name>
        <servlet-class>com.admin.controllers.DeviceReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeviceReachability</servlet-name>
        <servlet-class>com.admin.controllers.DeviceReachability</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminFilters</servlet-name>
        <servlet-class>com.admin.controllers.AdminFilters</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDiscovery</servlet-name>
        <url-pattern>/AdminDiscovery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfigSSHServlet</servlet-name>
        <url-pattern>/ConfigSSHServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlreadyLoggedSession</servlet-name>
        <url-pattern>/AlreadyLoggedSession</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserFilters</servlet-name>
        <url-pattern>/UserFilters</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserInventory</servlet-name>
        <url-pattern>/UserInventory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PerformanceReport</servlet-name>
        <url-pattern>/PerformanceReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Summarydashboard</servlet-name>
        <url-pattern>/Summarydashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportPlots</servlet-name>
        <url-pattern>/ReportPlots</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faults</servlet-name>
        <url-pattern>/Faults</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NodeDashboard</servlet-name>
        <url-pattern>/NodeDashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeviceReport</servlet-name>
        <url-pattern>/DeviceReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeviceReachability</servlet-name>
        <url-pattern>/DeviceReachability</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminFilters</servlet-name>
        <url-pattern>/AdminFilters</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            -1
        </session-timeout>
    </session-config>
</web-app>
